body{
    background-color: rgb(22, 138, 192);
    font: normal 15pt Roboto;
}

header{
    color: white;
    text-align: center;

}

section{
    background-color: aliceblue;
    border-radius: 5px;
    padding: 15px;
    width: 50%;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.226);
}

div#message{
    display: grid;
    place-items: center;
}

input{
    font-size: 18px;
	width: 50%;
	outline: none;
	background: #FFFFFF;
	color: #000000;
	border: 1px solid #C4D1EB;
	border-radius: 5px;
	box-shadow: 3px 3px 2px 0px #E2E2E2;
	transition: .3s ease;
}

#btncount {
	background-color:#ededed;
	border-radius:28px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#777777;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
#btncount:hover {
	background-color:#dfdfdf;
}

#btncount:active {
	position:relative;
	top:1px;
}

footer{
    color:whitesmoke;
    text-align: center;
    font-size: 10pt;
    opacity: 50%;
}